* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.subtitulo {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

nav {
  background-color: rgb(254, 200, 154);
}

.banner {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}
.banner .banner1 {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}
.banner .banner2 {
  display: none;
}
.banner .bannerTextos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-top: solid 1px rgba(158, 158, 158, 0.678);
}
.banner .bannerTextos h2 {
  display: inline-block;
  margin: 20px 0;
  font-size: 40px;
  font-weight: 400;
}
.banner .bannerTextos h2 span {
  font-weight: 700;
}
.banner .bannerTextos p {
  display: inline-block;
  margin-bottom: 20px;
}
.banner .bannerTextos a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: rgb(245, 222, 202);
  font-weight: bold;
}

.novedades {
  width: 90%;
  overflow: scroll;
  margin: 10px auto;
}
.novedades .novedades__tarjetas {
  width: 500%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral {
  border: solid 1px black;
  border-radius: 2rem;
  width: 20%;
  margin: 5px 20px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral img {
  width: 70%;
  margin: 0 auto;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral .novedades__tarjeta--cuerpo {
  text-align: center;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral .novedades__tarjeta--cuerpo a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: rgb(245, 222, 202);
  font-weight: bold;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral .novedades__tarjeta--botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.novedades .novedades__tarjetas .novedades__tarjeta--gral .novedades__tarjeta--botones i {
  display: inline-block;
  font-size: 25px;
  color: white;
  background-color: gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding-top: 6px;
  text-align: center;
}

.comentariosGral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.comentariosGral .cajacomentario {
  width: 90%;
  border: solid 1px black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.comentariosGral .cajacomentario img {
  width: 35%;
  max-width: 200px;
  margin-right: 15px;
}
.comentariosGral .cajacomentario .comentario__cuerpo {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comentariosGral .cajacomentario .comentario__cuerpo h3 {
  display: inline-block;
}
.comentariosGral .cajacomentario .comentario__cuerpo p {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.subtitulo {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

nav {
  background-color: rgb(254, 200, 154);
}

footer {
  background-color: rgb(254, 200, 154);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
footer h2 {
  text-transform: uppercase;
  text-align: center;
}
footer .footer__iconos i {
  width: 40px;
  height: 40px;
  /*       background-color: gray; */
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}
footer .footer__iconos .face {
  background-color: #3b5999;
}
footer .footer__iconos .insta {
  background-color: #e4405f;
}
footer .footer__iconos .whats {
  background-color: #47c856;
}
footer .footer__iconos .tiktok {
  background-image: linear-gradient(#25f4ee, #fe2c55);
}

.accordion-item {
  background-color: rgb(245, 222, 202);
}
.accordion-item .accordion-header .accordion-button {
  background-color: rgb(254, 200, 154);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .contacto__links {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px rgb(156, 156, 156);
}
.contacto .contacto__links h2 {
  display: inline-block;
}
.contacto .contacto__links p {
  display: inline-block;
}
.contacto .contacto__links .contacto__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacto .contacto__links .contacto__redes a {
  margin-bottom: 30px;
}
.contacto .contacto__links .contacto__redes a i {
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.contacto .contacto__links .contacto__redes a .face {
  background-color: #3b5999;
}
.contacto .contacto__links .contacto__redes a .insta {
  background-color: #e4405f;
}
.contacto .contacto__links .contacto__redes a .whats {
  background-color: #47c856;
}
.contacto .contacto__links .contacto__redes a .tiktok {
  background-image: linear-gradient(#25f4ee, #fe2c55);
}
.contacto .contacto__form {
  margin-top: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacto .contacto__form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacto .contacto__form form input {
  margin-bottom: 5px;
  max-width: 300px;
  height: 40px;
}
.contacto .contacto__form form .botonContacto {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: rgb(245, 222, 202);
  font-weight: bold;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.cata__list {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
}
.cata__list li {
  display: inline;
  margin: 5px;
}
.cata__list li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.catalogo {
  width: 90%;
  overflow: scroll;
  margin: 10px auto;
}
.catalogo .catalogo__tarjetas {
  width: 400%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral {
  border: solid 1px black;
  border-radius: 2rem;
  width: 25%;
  margin: 5px 20px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral img {
  width: 60%;
  margin: 0 auto;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral .catalogo__tarjeta--cuerpo {
  text-align: center;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral .catalogo__tarjeta--cuerpo a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: rgb(245, 222, 202);
  font-weight: bold;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral .catalogo__tarjeta--botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.catalogo .catalogo__tarjetas .catalogo__tarjeta--gral .catalogo__tarjeta--botones i {
  display: inline-block;
  font-size: 25px;
  color: white;
  background-color: gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding-top: 6px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .banner .banner1 {
    display: none;
  }
  .banner .banner2 {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .novedades .novedades__tarjetas {
    width: 100%;
  }

  .comentariosGral .cajacomentario {
    width: 22%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .catalogo .catalogo__tarjetas {
    width: 100%;
  }

  .contacto {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
  }
  .contacto h2 {
    margin-top: 30px;
  }
  .contacto .contacto__links {
    border-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
