@import "generales";
@import "index";
@import "footer";
@import "preguntas";
@import "contacto";
@import "catalogo";

@media screen and (min-width: 992px) {
  .banner {
    .banner1 {
      display: none;
    }
    .banner2 {
      display: inline-block;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 30px;
    }
  }
  .novedades {
    overflow: hidden;
    max-width: 100%;
    .novedades__tarjetas {
      width: 100%;
      .novedades__tarjeta--gral {
        overflow: hidden;
        .novedades__botonCompra {
          transform: translateY(250%);
          transition: 1s;
        }
        .novedades__tarjeta--botones {
          transform: translateX(100%);
        }
        .contador {
          display: none;
        }
      }
    }
    .novedades__tarjeta--gral:hover .novedades__botonCompra {
      transform: translateY(0);
      transition: 1s;
    }
    .novedades__tarjeta--gral:hover .novedades__tarjeta--botones {
      transform: translateY(0);
      transition: 1s;
    }
  }
  .comentariosGral {
    .cajacomentario {
      width: 22%;
      height: 250px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 20px;
    }
  }
  .catalogo {
    overflow: hidden;
    max-width: 100%;
    .catalogo__tarjetas {
      width: 100%;
      .catalogo__tarjeta--gral {
        overflow: hidden;
        .comprar {
          transform: translateY(600%);
          transition: 1s;
        }
        .catalogo__tarjeta--botones {
          transform: translateX(100%);
          transition: 1s;
        }
        .contador {
          display: none;
        }
      }
    }
    .catalogo__tarjeta--gral:hover .comprar {
      transform: translateY(0);
      transition: 1s;
    }
    .catalogo__tarjeta--gral:hover .catalogo__tarjeta--botones {
      transform: translateX(0);
      transition: 1s;
    }
  }

  .contacto {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    h2 {
      margin-top: 30px;
    }
    .contacto__links {
      border-bottom: 0;
    }
    .contacto__form {
      padding-top: 70px;
    }
  }
  footer {
    .footer__iconos {
      .face {
        background-color: gray;
      }
      .insta {
        background-color: gray;
      }
      .whats {
        background-color: gray;
      }
      .tiktok {
        background-image: none;
        background-color: gray;
      }
    }
    :hover a {
      filter: blur(2px);
      transition: 1s;
    }
    a:hover {
      transform: translateY(-3px) scale(1.5);
      filter: none;
    }
    .face:hover {
      background-color: $face;
    }
    .insta:hover {
      background-color: $insta;
    }
    .whats:hover {
      background-color: $whats;
    }
    .tiktok:hover {
      background-image: linear-gradient($tiktok);
    }
  }
}
