* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorSalmonFuerte: rgb(254, 200, 154);
$colorSalmonClaro: rgb(245, 222, 202);
$colorGrisOscuro: rgba(0, 0, 0, 0.342);
$face: #3b5999;
$insta: #e4405f;
$tiktok: #25f4ee, #fe2c55;
$whats: #47c856;

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}
@mixin boton {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: $colorSalmonClaro;
  font-weight: bold;
}
.subtitulo {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
nav {
  background-color: $colorSalmonFuerte;
}
.banner {
  width: 95%;
  @include flex-center(column);
  margin: 20px auto;
  img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .bannerTextos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-top: solid 1px rgba(158, 158, 158, 0.678);
    h2 {
      display: inline-block;
      margin: 20px 0;
      font-size: 40px;
      font-weight: 400;
      span {
        font-weight: 700;
      }
    }
    p {
      display: inline-block;
      margin-bottom: 20px;
    }
    a {
      @include boton;
    }
  }
}

.novedades {
  width: 90%;
  overflow: scroll;
  margin: 10px auto;
  .novedades__tarjetas {
    width: 500%;
    @include flex-center(row);
    .novedades__tarjeta--gral {
      border: solid 1px black;
      border-radius: 2rem;
      width: 20%;
      margin: 5px 20px;
      position: relative;
      padding-bottom: 20px;
      padding-top: 20px;
      @include flex-center(column);
      img {
        width: 70%;
        margin: 0 auto;
      }
      .novedades__tarjeta--cuerpo {
        text-align: center;
        a {
          @include boton;
        }
      }
      .novedades__tarjeta--botones {
        @include flex-center(column);
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        i {
          display: inline-block;
          font-size: 25px;
          color: white;
          background-color: gray;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          margin: 10px;
          padding-top: 6px;
          text-align: center;
        }
      }
    }
  }
}
.comentariosGral {
  @include flex-center(row);
  flex-wrap: wrap;
  width: 100%;
  .cajacomentario {
    width: 90%;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    img {
      width: 35%;
      margin-right: 15px;
    }
    .comentario__cuerpo {
      width: 55%;
    }
  }
}

footer {
  background-color: $colorSalmonFuerte;
  @include flex-center(column);
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .footer__iconos {
    i {
      width: 40px;
      height: 40px;
      background-color: gray;
      font-size: 30px;
      color: white;
      text-align: center;
      line-height: 40px;
      border-radius: 5px;
      margin-left: 10px;
    }
  }
}
